[submodule "src/3rdparty/local_laplacian_filters"]
	path = src/3rdparty/local_laplacian_filters
	url = https://github.com/headupinclouds/local_laplacian_filters.git
[submodule "src/3rdparty/eos"]
	path = src/3rdparty/eos
	url = https://github.com/headupinclouds/eos.git
